.navBar {
    border: solid 3px black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navBar a {
    text-decoration: none;
    display: inline;
    width: 15%;
    background-color: gray;
    text-align: center;
    border: solid black 3px;
}